.App {
  text-align: center;
}
body {
  background-color: #C1C2C5;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.catMode{
  font-family: Cat;
  
  background: -webkit-linear-gradient(rgb(119, 80, 228), rgb(237, 165, 165));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.catReport{
    width: 50%;
  height: 3em;
  object-fit: contain;

}

.catList{
  width: 50%;
  height: 3em;
  object-fit: contain;
}